DATABASE_URL=postgresql://neondb_owner:npg_DFKOtCP2x4Xy@ep-little-dust-ap7gc5a9-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=706519208199923247737208
NEXT_PUBLIC_APP_URL=http://localhost:3000
